<div class="col-md-12">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-ofser-3">
        <simple-form> </simple-form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-ofser-3">
        <complex-form> </complex-form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-ofser-3">
        <form-validation> </form-validation>
      </div>
    </div>
  </div>
</div>




